<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.leopard.system.mapper.BizMerchantConfigMapper">
    
    <resultMap type="BizMerchantConfig" id="BizMerchantConfigResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="gateApiKey"    column="gate_api_key"    />
        <result property="gateSecret"    column="gate_secret"    />
        <result property="wxUid"    column="wx_uid"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizMerchantConfigVo">
        select id, uid, gate_api_key, gate_secret, wx_uid, is_deleted, remark, create_by, create_time, update_by, update_time from biz_merchant_config
    </sql>

    <select id="selectBizMerchantConfigList" parameterType="BizMerchantConfig" resultMap="BizMerchantConfigResult">
        <include refid="selectBizMerchantConfigVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="gateApiKey != null  and gateApiKey != ''"> and gate_api_key = #{gateApiKey}</if>
            <if test="gateSecret != null  and gateSecret != ''"> and gate_secret = #{gateSecret}</if>
            <if test="wxUid != null  and wxUid != ''"> and wx_uid = #{wxUid}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectBizMerchantConfigById" parameterType="Long" resultMap="BizMerchantConfigResult">
        <include refid="selectBizMerchantConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizMerchantConfig" parameterType="BizMerchantConfig" useGeneratedKeys="true" keyProperty="id">
        insert into biz_merchant_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="gateApiKey != null and gateApiKey != ''">gate_api_key,</if>
            <if test="gateSecret != null and gateSecret != ''">gate_secret,</if>
            <if test="wxUid != null and wxUid != ''">wx_uid,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="gateApiKey != null and gateApiKey != ''">#{gateApiKey},</if>
            <if test="gateSecret != null and gateSecret != ''">#{gateSecret},</if>
            <if test="wxUid != null and wxUid != ''">#{wxUid},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizMerchantConfig" parameterType="BizMerchantConfig">
        update biz_merchant_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="gateApiKey != null and gateApiKey != ''">gate_api_key = #{gateApiKey},</if>
            <if test="gateSecret != null and gateSecret != ''">gate_secret = #{gateSecret},</if>
            <if test="wxUid != null and wxUid != ''">wx_uid = #{wxUid},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizMerchantConfigById" parameterType="Long">
        delete from biz_merchant_config where id = #{id}
    </delete>

    <delete id="deleteBizMerchantConfigByIds" parameterType="String">
        delete from biz_merchant_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>