<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.leopard.system.mapper.BizStrategyUserMapper">
    
    <resultMap type="BizStrategyUser" id="BizStrategyUserResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="strategyId"    column="strategy_id"    />
        <result property="strategyName"    column="strategy_name"    />
        <result property="configJson"    column="config_json"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="cronExpression" column="cron_expression" />

    </resultMap>

    <sql id="selectBizStrategyUserVo">
        select id, uid, strategy_id, strategy_name, config_json,cron_expression, status, create_time, update_time from biz_strategy_user
    </sql>

    <select id="selectBizStrategyUserList" parameterType="BizStrategyUser" resultMap="BizStrategyUserResult">
        <include refid="selectBizStrategyUserVo"/>
        <where>  
            <if test="strategyName != null  and strategyName != ''"> and strategy_name like concat('%', #{strategyName}, '%')</if>
            <if test="configJson != null  and configJson != ''"> and config_json = #{configJson}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="uid != null  and uid != ''"> and uid = #{uid}</if>

        </where>
    </select>
    
    <select id="selectBizStrategyUserById" parameterType="String" resultMap="BizStrategyUserResult">
        <include refid="selectBizStrategyUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizStrategyUser" parameterType="BizStrategyUser" useGeneratedKeys="true" keyProperty="id">
        insert into biz_strategy_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="strategyId != null">strategy_id,</if>
            <if test="strategyName != null and strategyName != ''">strategy_name,</if>
            <if test="configJson != null and configJson != ''">config_json,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="cronExpression != null and cronExpression != ''">cron_expression,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="strategyId != null">#{strategyId},</if>
            <if test="strategyName != null and strategyName != ''">#{strategyName},</if>
            <if test="configJson != null and configJson != ''">#{configJson},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="cronExpression != null and cronExpression != ''">#{cronExpression},</if>
        </trim>
    </insert>

    <update id="updateBizStrategyUser" parameterType="BizStrategyUser">
        update biz_strategy_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="strategyId != null">strategy_id = #{strategyId},</if>
            <if test="strategyName != null and strategyName != ''">strategy_name = #{strategyName},</if>
            <if test="configJson != null and configJson != ''">config_json = #{configJson},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="cronExpression != null and cronExpression != ''">cron_expression = #{cronExpression},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizStrategyUserById" parameterType="String">
        delete from biz_strategy_user where id = #{id}
    </delete>

    <delete id="deleteBizStrategyUserByIds" parameterType="String">
        delete from biz_strategy_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>